*{ margin: 0;
margin-left: 0%;    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    perspective: 10px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: 
    preserve-3d;
    height: 100%;
    z-index: -1;
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.foreground{
    transform: translatez(-20px) scale(3.3);
}
.background{
    transform: translatez(-40px) scale(5.1);
}

/* h1{ margin-top: 0px;
    padding-top: 10px;
    font-size: 150px;
    z-index: 1;
} */