*{ margin: 0;
   padding: 0;
    box-sizing: border-box;
}
#wrapper{
    perspective: 10px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
    z-index: -1;
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit:cover;
}
.foreground{
    transform: translatez(-20px) scale(3);
}
.background{
    transform: translatez(-40px) scale(5.1);
}

h1{ 
   text-transform: uppercase;
   position:absolute;
   top: 5rem;
   
   font-size: 10rem;
   color:white;
   text-shadow: 0 0 10px rgba(0,0,0,0.3);

}